body {
    margin-top: auto;
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    min-height: 85vh;
    width: 100%;
    background-image: linear-gradient(rgba(82, 0, 34, 0.7), rgba(61, 14, 32, 0.7)), url("images/SHALVA1.jpeg");
    background-position: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    overflow: hidden;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 3px 0px 30px;
    font-size: 14px;
    color: #fff;
}

h1 {
    color: #ac7373;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: auto;
    font-size: 45px;
}

title {
    margin-top: auto;
    position: fixed;
}

p {
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}
.photos{
    padding-top: 3%;
    padding-bottom:3%;
}

.photos img {
    width: 45%;
    height: 45%;
    object-fit: contain;
}

.likes {
    text-align: center;
    margin: auto;
   padding-top: 3%;
    padding-bottom:3%;
}

.hero {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(236, 223, 223, 0.966), #f8d1d1), url(background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input,
textarea {
    width: 400px;
    padding: 8px;
    outline: 0;
    border: 1px solid #c05e5e;
    color: rgb(0, 0, 0);
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #000000;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0;
    color: #000000;
    outline: none;
    background: transparent;
    border: 1px solid #c05e5e;
    width: 70%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row input-group {
    flex-basis: 48%;
}

.navbar {
    width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    padding: 0.1% 6%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.navbar img {
    width: 150px;
    padding-top: 2px;
    margin-right: 15%;
}

.nav-links {
    flex: 1;
    text-align: center;
    margin-left: 30%;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #6e0569;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

h3 {
    margin-top: auto;
    margin: 20;
    display: grid;
    width: 100%;
    align-items: center;
    text-align: center;
    grid-template-columns: minmax(30px, 1fr) auto minmax(30px, 1fr);
    grid-gap: 20px;
    font-weight: 400;
    font-size: 35px;
    color: #000000;
}

h3:before,
h3:after {
    content: '';
    height: 1px;
    margin-top: auto;
}

h3:after {
    background: linear-gradient(to right, transparent, #000000);
}

h3:before {
    background: linear-gradient(to right, #000000, transparent);
}

.qrcode {
   align-items: center;
    text-align: center;
     padding-top: 3%;
    padding-bottom:3%;
}
.about{
    padding-top: 3%;
    padding-bottom:3%;
}
.playlist{
    padding-top: 3%;
    padding-bottom:3%;
}
.q&a{
     padding-top: 3%;
    padding-bottom:3%;
}
    
    
